services:
  - type: web
    name: ikigai-shop-fullstack
    env: docker
    dockerContext: .
    dockerfilePath: Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 8000
    autoDeploy: true